form {
  margin: 0 auto;
  width: 90%;
  border-bottom: 1.5px solid hsl(0, 1%, 44%);
}

.form-inputs {
  display: flex;
  justify-content: space-around;
  gap: 0.25rem;
  padding-right: 1rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20%;
}

.form-input label {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(0, 1%, 44%);
}

.form-input input {
  width: 60%;
  padding: 0.25rem 1rem;
  font-size: large;
  font-weight: bold;
  font-family: inherit;
  border-radius: 6px;
  border: 1.5px solid hsl(0, 1%, 44%);
}

.form-input .empty {
  color: hsl(0, 100%, 67%);
}

.resize {
  font-size: small;
  /* white-space: nowrap; */
}

#year {
  width: 100%;
  padding: 0.25rem 1.25rem;
}

form > button {
  position: relative;
  z-index: 1;
  top: 35px;
  left: calc(50% - 30px);
  border-radius: 50%;
  padding: 0.5rem;
  background-color: hsl(259, 100%, 65%);
  border: none;
}

@media only screen and (min-width: 768px) {
  form > button {
    left: calc(90% - 10px);
    padding: 0.75rem;
  }
}
