.container {
  display: flex;
  flex-direction: column;
  /* align-items: cent; */
  gap: 0.5rem;
  margin-top: 4rem;
  margin-left: 1rem;
  font-weight: 700;
  font-style: italic;
  color: hsl(259, 100%, 65%);
}

.item {
  color: black;
}

@media only screen and (min-width: 768px) {
  .item-container {
    font-size: 3rem;
    margin-left: 1.5rem;
  }
}
